<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <style>
    body {
      background-color: white;
    }
    </style>
  </head>
  <body>
    <header>
      <!--  <p class="introHL">add a new course.</p>-->
    </header>
    <h1>TEST</h1>
    <div id="wrapper">
      {% for course in all_courses: %}

        <strong>Course (ID {{ course['id'] }}):</strong> {{ course['title'] }}
        <strong>Description:</strong> {{ course['description'] }}
        <strong>Created at:</strong> {{ course['created_at'] }}
        <hr>

      {% endfor %}
    </div>


  </body>
</html>
