<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="stylesheet" href="/static/css/styles.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
    </script>
  </head>
  <body>
    <header>
        <p class="introHL">add a new course.</p>
    </header>
    <div id="wrapper">
      <div class="courses">
        <form action="/add" method="POST">
          <p><h3>NAME: </h3></p>
          <input type="text" name="title"><br>
          <p><h3>DESCRIPTION: </h3></p>
          <textarea name="description" rows="10" cols="100"></textarea>
          <input type="submit" value="ADD">
        </form>
      </div>
      <section> <!--TABLE-->
      <h1>Course List</h1>
      <div  class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Description</th>
            <th>Created at:</th>
            <th>Action %</th>
          </tr>
        </thead>
      </table>
      </div>
      <div  class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {% for course in all_courses: %}
          <tr>
            <td>{{ course['id'] }}</td>
            <td>{{ course['title'] }}</td>
            <td>{{ course['description'] }}</td>
            <td>{{ course['created_at'] }}</td>
            <td><li role="presentation"><a href="/delete{{course['id']}}">DELETE</a></li></td>                                      <!--<a href="/{{ course['id'] }}">delete</a></td>-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </section>
    </div>

  </body>
</html>
